/*style.css */
body {
 color: #000000;
 font-family: Frutiger W01,Arial,Sans-serif;
}
h1 {
 color: #000000;
 text-align: center;
}

h2 {
 color: #000000;
 text-align: center;
}

p {
 color: #000000;
 text-align: left;
}
.jumbotron {
	background-color: #005eb8;
    color: #ffffff;
}

.btn-lg  {
	background-color: #005eb8;

}

.navbar-inverse {
    background-color: #005eb8;
    border-color: #005eb8;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.steps {
  font-size: 140%;
}

.steps li {
  padding: 2px;
}

.logo-centre {
	text-align: center;
}

.date-time-format
{
	text-align: center;
	color: #ffffff;
}

.footer {
  position: fixed;
  left: 0;
  margin-top: 20px; 
  bottom:0;
  width: 100%;
  background-color: #005eb8;
  color: white;
  text-align: center;
}

.footer-checkbox {
	content: '🗹';
    color: green;
}
