/*style.css */
body {
 color: #000000;
 font-family: Frutiger W01,Arial,Sans-serif;
}
h1 {
 color: #000000;
 text-align: center;
}

h2 {
 color: #000000;
 text-align: center;
}

p {
 color: #000000;
 text-align: left;
}
.jumbotron {
	background-color: #005eb8;
    color: #ffffff;
}

.btn-lg  {
	background-color: #005eb8;

}

.navbar-inverse {
    background-color: #005eb8;
    border-color: #005eb8;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.steps {
  font-size: 140%;
}

.steps li {
  padding: 4px;
}

.steps {
  list-style: none;
}

.steps li:before {
  content: '🗹';
  color: green
}