<html>
  <head>
    <title>Scenario {{scenario_number}}: {{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>


<nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">NHS Covid-19/SARS-CoV2 PPE Guidance</a>
  </div>
</nav>



  <body>

    <h1>Scenario {{scenario_number}} Video:</h1>
	<h1>{{title}}</h1>

    <a name="iframe"></a>
    <div class="col-sm-12 text-center">
      <div id="player"></div>
      <script>var videoId = '{{video_id}}'</script>
      <script src="js/video.js"></script>
    </div>

    <div class="col-sm-12 text-center">
    <br></br>
    <a href="index.html">Return to start</a><br><br>
    </div>

    <ol class="steps">
      {{#steps}}
      
      <li {{class?}}
            class="{{class}}"
          {{class/}}>
        <a href="#iframe" onclick="seekTo({{seek_to}});">{{instruction}}</a>
      </li>
      {{/steps}}
    </ol>

	<p>&nbsp;</p><p>&nbsp;<p>&nbsp;</p><div class="footer date-time-format">
  <b class= "footer-checkbox steps"> 🗹 </b> this website has been checked as of <b class="date-time-format" id="date"></b> <b>by Dr Matt Butler, CUH NHS FT</b>  and remains reflective of the latest PHE guidance with respect to PPE
</div>

</div>
<script>
var d = new Date();
document.getElementById("date").innerHTML = d;
</script>



  </body>
</html>
